<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EVEMon.Common.CloudStorageServices.GoogleDrive.GoogleDriveCloudStorageServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="EVEMon.Common.CloudStorageServices.Dropbox.DropboxCloudStorageServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="EVEMon.Common.CloudStorageServices.CloudStorageServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EVEMon.Common.CloudStorageServices.GoogleDrive.GoogleDriveCloudStorageServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="EVEMon.Common.CloudStorageServices.Dropbox.DropboxCloudStorageServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <EVEMon.Common.CloudStorageServices.GoogleDrive.GoogleDriveCloudStorageServiceSettings>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
    </EVEMon.Common.CloudStorageServices.GoogleDrive.GoogleDriveCloudStorageServiceSettings>
    <EVEMon.Common.CloudStorageServices.Dropbox.DropboxCloudStorageServiceSettings>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
    </EVEMon.Common.CloudStorageServices.Dropbox.DropboxCloudStorageServiceSettings>
    <EVEMon.Common.CloudStorageServices.CloudStorageServiceSettings>
      <setting name="UploadAlways" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DownloadAlways" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseImmediately" serializeAs="String">
        <value>False</value>
      </setting>
    </EVEMon.Common.CloudStorageServices.CloudStorageServiceSettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>