<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EVEMon.Common.CloudStorageServices.CloudStorageServicesSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EVEMon.Common.CloudStorageServices.CloudStorageServicesSettings>
            <setting name="UploadAlways" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadAlways" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseImmediately" serializeAs="String">
                <value>False</value>
            </setting>
        </EVEMon.Common.CloudStorageServices.CloudStorageServicesSettings>
    </userSettings>
</configuration>