<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="EveStaticDataEntities" connectionString="metadata=res://*/EveStaticData.csdl|res://*/EveStaticData.ssdl|res://*/EveStaticData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=EveStaticData;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
